#logo {
    max-height: 60px;
    margin-left: 20px;
}
#navigation_bar {
    overflow: hidden;
    background-color: #ffffff;
} 
#navigation_bar a {
    float: right;
    display: block;
    color: #04AA6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navigation_bar a:hover {
    background-color: #ddd;
    color: black;
}
#navigation_bar a.active {
    background-color: #04AA6D;
    color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.install_platform {
    display: flex;
    justify-content: center;
}
.install_container {
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
    justify-content: center;
    text-align:center;
}
.install_icon {
    height: 150px;
}
.guide_image_0 {
    max-height: 300px;
}
.guide_image {
    max-height: 450px;
}
.content_tab_introdution {
    display: none;
}
.content_tab_install {
    display: block;
}
.content_tab_guide {
    display: none;
}
.content_tab_support {
    display: none;
}
.center_text {
    text-align: center;
}
.warning {
    color: #ff0000;
}
.big_text {
    font-size: xx-large;
}
.horizontal {
    flex-direction: row;
}